
*.xcworkspacedata
*.xcworkspacedata
SwiftConstellation/SwiftConstellation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SwiftConstellation/SwiftConstellation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SwiftConstellation/SwiftConstellation.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
SwiftConstellation/SwiftConstellation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
